@font-face{
    font-family: 'OldLondon-Regular';
    src: url('./BE2025/OldLondon.ttf');
}

@font-face{
    font-family: 'Uncial-Antiqua';
    src: url('./BE2025/UncialAntiqua-Regular.ttf')
}

body{
    background: linear-gradient(rgb(88, 0, 0), rgb(0, 0, 0)) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-backgroun-size: cover;
    -o-background-size: cover;
    background-size: cover;-color: blue;
    color: white;
}

.special{
    float: left;
    padding-left: 2%;
    padding-top: 10px;
    max-width: 8%;
    -webkit-filter: drop-shadow(5px 5px 5px #723333);
    filter: drop-shadow(5px 5px 5px #723333);
    position: fixed;
}

.main{
    margin-left: 10%;
    margin-right: 10%;
    bottom: none;
    top: none;
    text-align: center;
    background-color: transparent;
    /* border: 1px solid white; */
    word-wrap: break-word;
}

.btn-group .button {
    background-color: transparent;
    border-radius: 10px;
    border: 0px solid transparent;
    color: white;
    margin: 10px;
    padding: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    float: left;
    transition-duration: 0.2s;
}

.btn-group .button:hover{
    text-decoration: underline;
}

#flyer{
    max-width: 80%;
    border-radius: 10%;
    box-shadow: 5px 5px 10px#723333;
}

.bg{
    max-width: 80%;
    -webkit-filter: drop-shadow(5px 5px 5px #723333);
    filter: drop-shadow(5px 5px 5px #723333);
}

.maps{
    max-width: 80%;
    border-radius: 10%;
    box-shadow: 5px 5px 10px#723333;
}

.form{
    text-decoration: underline;
    color: white;
    transition-duration: 0.5s;
    font-size: xx-large;
}

.form:hover{
    color: rgb(144, 0, 0);
}

.eb-garamond-fonta{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p, a, h1, h2{
    font-family: "EB Garamond", serif;
}

p{
    font-size: x-large;
}

.credit{
    text-align: center;
    font-family: 'OldLondon-Regular', 'EB Garamond', serif;
    font-size: xx-large;
    color: rgb(157, 0, 0);
    text-shadow: 5px 5px 10px rgb(175, 9, 9)
}

.weave{
    max-width: 20%;
    -webkit-filter: drop-shadow(5px 5px 5px #723333);
    filter: drop-shadow(5px 5px 5px #723333);
    margin: 5%;
}

.test{
    float: right;
    padding-right: 2%;
    padding-top: 10px;
    top: 0;
    max-width: 8%;
    /* Link styling */
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.test:hover{
    text-decoration: underline;
}

.jumpbtn{
    text-decoration: underline;
    color: white;
    transition-duration: 0.5s;
    cursor: pointer;
    font-size: x-large;
}

.jumpbtn:hover{
    color: rgb(144, 0, 0)
}

table, td, th{
    margin-left: auto;
    margin-right: auto;
    font-family: "EB Garamond", serif;
    padding: 10px;
    font-size: 20px;
}

table{
    border: 2px solid white;
}

td, th{
    border-left: 2px solid white;
    border-right: 2px solid white;
}

th{
    border-bottom: 2px solid white;
}

iframe{
    max-width: 80%;
    border-radius: 5%;
    box-shadow: 5px 5px 10px #723333;
}

#featured{
    font-family: 'Uncial-Antiqua', serif;
    font-size: 2rem;
    background-image: linear-gradient(to bottom right, yellow, rgb(179, 96, 1));
    background-clip: text;
    background-size: cover;
    color: transparent;
    position: relative;
}

#featured::after{
    content: '';
    position: absolute;
    height: 0.25rem;
    width: 50%;
    background-image: linear-gradient(to right, yellow, rgb(179, 96, 1));
    top: 100%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 0.125rem;
}

.feat-img{
    width: 60%;
    height: auto;
    border-radius: 2rem;
    box-shadow: 5px 5px 10px black;
}

.feat-a{
    color: yellow;
    font-size: 1.25rem;
}

h1{
    font-family: 'Uncial-Antiqua', serif;
    font-size: 2rem;
    background-image: linear-gradient(to bottom right, yellow, rgb(179, 96, 1));
    background-clip: text;
    background-size: cover;
    color: transparent;
}

#stanfords_menu{
    width: 60%;
    height: auto;
    border-radius: 20px;
}
